.primary:hover {
    cursor: pointer;
    background-image: linear-gradient(259deg, #7dc4ff, #7dc4ff);
}

.primary:active {
    background-image: linear-gradient(259deg, #6700ff, #6700ff);
}

.primary {
    text-align: center;
    align-items: center;
    height: 40px;
    border-radius: 21px;
    background-image: linear-gradient(79deg, #7dc4ff, #6700ff);
    color: #ffffff;
}

.secondary {
    text-align: center;
    align-items: center;
    height: 40px;
    border-radius: 21px;
    background-image: linear-gradient(79deg, #e0fffd, #e7e1ff);
    color: #000000;
}
.secondary:hover {
    cursor: pointer;
    background-image: linear-gradient(0, #e0fffd, #e0fffd);
}
.secondary:active {
    background-image: linear-gradient(0, #e7e1ff, #e7e1ff);
}

.Button__text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: normal;
    text-align: center;
}
