@import "styles/constants";

%btn_style {
  display: inline-flex;
  cursor: pointer;
  min-height: 40px;
  border-radius: 21px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
  text-align: center;
  transition: all .3s;
}

.btn {
  &__fill {
    transition: all .4s;
    display: flex;
  }

  &__text {
    transition: all .4s;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__primary {
    @extend %btn_style;
    background-image: $btn-primary-gradient;
    color: $global-white;
    transition: all .4s;
    &:hover {
      background-image: $btn-primary-hover-gradient;
    }

    &:active {
      background-image: $btn-primary-active-gradient;
    }

  }

  &__secondary {
    @extend %btn_style;
    background-image: $btn-secondary-gradient;
    color: $global-black;
    transition: all .4s;
    &:hover {
      background-image: $btn-secondary-hover-gradient;
    }

    &:active {
      background-image: $btn-secondary-active-gradient;
    }
  }
}
