.Main__Title {
    margin-bottom: 25px;
}
.Main__SearchBar {
    margin-bottom: 50px;
}
.Main__content-subtitle {
    margin-bottom: 50px;
}
.Main__TopBox {
    justify-content: center;
    text-align: center;
    align-items: center;
}
