// Основные цвета

$global-white: #ffffff;
$global-black: #000000;

// Кнопки

$btn-primary-gradient: linear-gradient(79deg, #7dc4ff, #6700ff);
$btn-primary-hover-gradient: linear-gradient(259deg, #7dc4ff, #7dc4ff);
$btn-primary-active-gradient: linear-gradient(259deg, #6700ff, #6700ff);

$btn-secondary-gradient: linear-gradient(79deg, #e0fffd, #e7e1ff);
$btn-secondary-hover-gradient: linear-gradient(0, #e0fffd, #e0fffd);
$btn-secondary-active-gradient: linear-gradient(0, #e7e1ff, #e7e1ff);

// Ссылки

$link-text-blue: #329eff;
$link-text-active: #2168a8;
$link-text-hover:  #2a85d7;
$link-text-stay:  #000000;
