.Mainpending {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}