.FriendsList {

  &__box {
    margin-bottom: 20px;
    margin-top: 50px;
  }
  &__list {
    margin-left: 20% ;
    margin-right: 20% ;
    padding-bottom: 30px;
  }
  &__button {
    display: flex;
    justify-content: center;
  }

}


