.LinkText__text:hover {
    cursor: pointer;
    color: var(--link-text-hover, #2a85d7);
}

.LinkText__text:active {
    color: var(--link-text-active, #2168a8);
}

.LinkText__text {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--link-text-blue, #329eff);
}

.LinkText__stay {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--link-text-stay, #000000);
}
